Options +FollowSymLinks

RewriteEngine On
RewriteBase /makel-eclipse/

DirectoryIndex index.html
DirectoryIndex index.php

Options All -Indexes

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>

<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

RewriteCond %{THE_REQUEST} ^.+$ [NC]
RewriteRule .*robots\.txt - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f   
RewriteCond %{REQUEST_FILENAME} !-d 

RewriteRule ^([a-zA-Z0-9+,_-]+)/?$ $1.php [L]
RewriteRule ^([a-zA-Z0-9+,_-]+)/([0-9+]+)/(.*)/?$ $1.php?id=$2&pagina=$2 [L]
RewriteRule ^([a-zA-Z0-9+,_-]+).do controller/$1.php [L]

<IfModule mod_expires.c> 
    ExpiresActive On 
    ExpiresByType image/gif "access plus 1 month" 
    ExpiresByType image/jpeg "access plus 1 month" 
    ExpiresByType image/jpg "access plus 1 month" 
    ExpiresByType image/png "access plus 1 month" 
    ExpiresByType image/x-icon "access plus 1 month" 
    ExpiresByType text/css "access plus 1 month" 
    ExpiresByType text/javascript "access plus 1 month" 
   	ExpiresByType application/x-javascript "access plus 1 month"
   	ExpiresByType application/x-shockwave-flash "access plus 1 month"
   	ExpiresByType text/ecmascript "access plus 1 month"
   	FileETag none
</IfModule>

ErrorDocument 404 /404.php